@charset "utf-8";

#menu {
    width: 100%;
    margin: 0;
    list-style: none;
}

#menu li {
    float: left;
    position: relative;
    line-height: 0;
}

#menu a {
    float: left;
    height: 41px;
    padding: 0 25px;
    color: #fff;
    text-transform: uppercase;
    font: bold 11px/25px tahoma;
    text-decoration: none;
    padding-top: 9px;
}

#menu ul li a {
    color: #394b82
}

#menu ul li ul li a {
    color: #394b82
}

#menu li:hover > a {
    color: #fafafa;
    background: #475E8E;

}

#menu li ul li:hover > a {
    color: #394b82;
    background: #f0f2f5 !important;

}

* html #menu li a:hover /* IE6 */
{
    color: #fafafa;
}

#menu li:hover > ul {
    display: block;
}

/* Sub-menu */

#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    top: 41px;
    left: 0;
    z-index: 99999;
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #e5e5e5;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    padding: 5px 5px 10px;

}

#menu ul ul {
    top: 0;
    left: 195px;
}

#menu ul li {
    float: none;
    margin: 0;
    padding: 0;
    display: block;
    border-bottom: 1px solid #e5e5e5 !important;
}

#menu ul li:last-child {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#menu ul a {
    padding: 10px;
    height: 10px;
    width: 200px;
    height: auto;
    line-height: 1;
    display: block;
    white-space: nowrap;
    float: none;
    font-size: 11px;
    text-transform: none;
}

* html #menu ul a /* IE6 */
{
    height: 10px;
}

*:first-child + html #menu ul a /* IE7 */
{
    height: 10px;
}

#menu ul a:hover {
    background: #0186ba;
    background: -moz-linear-gradient(#04acec, #0186ba);
    background: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba));
    background: -webkit-linear-gradient(#04acec, #0186ba);
    background: -o-linear-gradient(#04acec, #0186ba);
    background: -ms-linear-gradient(#04acec, #0186ba);
    background: linear-gradient(#04acec, #0186ba);
}

#menu ul li:first-child a:hover:after {
    border-bottom-color: #04acec;
}

#menu ul ul li:first-child a:hover:after {
    border-right-color: #04acec;
    border-bottom-color: transparent;
}

/* Clear floated elements */
#menu:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: none;
    height: 0;
}

#page-wrapper {
    margin-left: 0px !important
}

.ss1 {
    position: absolute;
    top: 7px;
    left: 180px;

}

#menu li ul li a span {
}
