
.s2:after {
    content: '\25be';

}

.nav li.open > a > .s2:after {
    content: '\25b4';
}

.nav > li > a > .s2 {
    display: none;
}

.s3 {
    height: 61px;
    background: #fff !important;
    border-bottom: 5PX solid #999999 !important;
    padding-top: 0px;
}

.s4 {
    color: #999999;
    font-size: 18px;
    padding-top: 20px;
    padding-left: 5px;
}

.s5 {
    background: #FFF !important;
    padding-top: 20px !important;
    padding-left: 0px !important;
    padding-bottom: 0px !important;
    font-weight: 400 !important;;
    top: 5px;
}

.s6 {
    padding-left: 0px;
    margin-bottom: 0px;
    list-style: outside none none;
}

.s7 {
    margin-left: 0px !important;
}

.s8 {
    left: -128px;
    top: 25px;
    font-family: Tahoma, Geneva, sans-serif;
    box-shadow: 0px 0px 0px #FFF !important;
    border: 1px solid #E5E5E5;
    border-top: 0px;
    border-right: 0px;
}

.s9 {
    margin-right: 10px;
    background: #394B82;
    cursor: pointer;
    padding-left: 1px;
    padding-right: 1px;
}

.s10 {
    font-size: 14px;
    margin-top: 0px;
    cursor: pointer;
    border: 0px;
    background: none;
}

.s10:hover {
    color: #1ABDB4;
}

.s11 {
    padding: 0px;
}

.s12 {
    display: inline-block;
}

.s13 {
    width: 60%;
    min-height: 200px;
}

.s14 {
    width: 100%;
    display: block;
}

.s15 {
    margin-bottom: 0px;
    width: 100%;
}

.s16 {
    width: 50%;
    display: block;
    background: #333
}

.s18 {
    margin: 60px 0px 0px 30px;
    width: 30%;
    float: left;
    font-size: 11px;
}

.s19 {
    margin: 15px 0px 20px 30px;
    width: 60%;
    float: left;
    font-size: 11px;
}

.s20 {
    margin: 15px 0px 20px 30px;
    width: 30%;
    float: left;
    font-size: 11px;
}

.s21 {
    background: #A5A5A5;
    padding: 2px 12px;
    color: #fff;
    border-radius: 12px !important;
    margin-bottom: 4px;
    border: 1px solid #999l;
    margin-left: 20px;
    font-size: 12px;
    font-weight: bold;
    float: left;
}

.s22 {
    color: #666;
    float: left;
}

.s23 {
    float: right;
    font-size: 14px;
    font-weight: bold
}

.s24 {
    font-weight: bold;
}

.s25 {
    color: #999;
    float: left;
}

.s26 {
    width: 80%;
    padding: 2px;
    height: 20px;
    font-size: 12px;
    color: #848383;
    padding-left: 10px;
    font-weight: 100;
    border-radius: 10px 0px !important;
    border: 0px;
}

.s27 {
    padding-bottom: 3px !important;
    padding-top: 0px !important;
    border-radius: 10px 0px !important;
}

.s28 {
    margin-top: 5px !important;
    text-align: right !important;
}

.s29 {
    background: #60A925 !important;
}

.s30 {
    color: #F00
}

.s31 {
    padding: 0 10px;
}

.s32 {
    font-size: 11px;
    color: #666;
    text-align: center;
    margin-bottom: 10px;
}

.s33 {
    font-size: 11px;
    color: #FFF;
    border: 1px solid #20358c;
    border-radius: 2px !important;
    background: #20358c;
    padding: 3px 6px;
    line-height: 17px;
}

.s33:hover {
    color: #FFF;
    background: #20358c !important;
}

.s34 {
    font-size: 12px;
    font-weight: bold;
    color: #666;
    margin-bottom: 5px;
    margin-left: 5px;
}

.s35 {
    padding: 2px;
    height: 20px;
    font-size: 12px;
    color: #999;
    padding-left: 10px;
    font-weight: 100;
    border: 0px;
    border-radius: 10px 0px 0px 0px !important;
}

.s36 tr td {
    padding: 0px 5px;
    font-size: 11px;
}

.s37 {
    font-size: 11px !important;
    color: #FFF;
    border: 1px solid #314275;
    border-radius: 2px !important;
    background: #4861AD;
    padding: 3px 6px;
    line-height: 17px;
}

.s37:hover {
    color: #FFF;
    background: #314275 !important;
}

.s38 {
    font-weight: bold;
    font-size: 12px;
}

.s51 {
    padding-bottom: 14px !important;
}

.s52 {
    padding-top: 2px !important;
    height: 25px !important;
}

.s52s {
    padding-top: 1px !important;
    height: 21px !important;
}

.w6 {
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

p {
    color: #666;
    font-size: 11px;
}

.td1 {
    border: 0px !important;
    background: #E5E5E5;
    border-radius: 10px 0px 0px 0px;
    border-bottom: 1px solid #FFF !important; /*width:40%;*/
    padding: 4px 4px 4px 10px !important;
    font-weight: 500;
    text-align: left;
    color: #666;
}

.td2 {
    border-top: 0px !important;
    border-bottom: 1px dotted #E5E5E5; /*width:60%;*/
    text-align: left;
    padding: 4px 4px 4px 10px !important;
    color: #666;
}

.td2a {
    border-top: 0px !important;
    border-bottom: 1px dotted #E5E5E5; /*width:60%;*/
    text-align: left;
    padding: 4px 0px 0px 10px !important;
    color: #666;
}

.td3 {
    border-top: 0px !important;
    border-bottom: 1px dotted #E5E5E5;
    text-align: left;
    color: #666;
    padding-left: 10px !important;
}

.th1 {
    background: #E5E5E5;
    border-radius: 10px 0px 0px 0px;
    border: 0px !important;
    font-weight: 100;
    padding-left: 10px !important;
}

.th2 {
    background: #E5E5E5;
    border: 0px !important;
}

.th3 {
    background: #DDDDDD;
    color: #9999
}

.tr1 {
    border: 0px !important;
}

.mg0 {
    margin: 0px
}

.mgb {
    margin-bottom: 0px !important;
}

.pd0 {
    padding: 0px
}

.pd1 {
    padding: 0px 2px
}

.pdt10 {
    padding-top: 10px !important
}

.fw0 {
    font-weight: 100 !important;
}

.fll {
    float: left !important;
    width: 80%;
    z-index: 90
}

.fll1 {
    float: left;
    font-size: 11px;
    color: #9999;
    background: #DDDDDD;
    padding: 1px 5px;
    border-radius: 2px;
}

.fll1:hover {
    color: #9999;
}

.flr {
    float: right;
    z-index: 90
}

.cl666 {
    color: #666;
}

.dataTables_paginate {
    float: right;
    width: 100%;
    height: 27px;
    text-align: right;
    margin-top: 3px;
}

.dataTables_paginate.records {
    font-size: 11px;
    float: none;
    width: 100%;
    height: 27px;
    text-align: right;
    margin-top: -1px;
    border: solid 1px #ddd;
    padding: 5px;
    border-radius: 0px 0px 5px 5px;
    background-color: #ddd;
}

.paginate_button.previous {
    border-radius: 10px 0px 0px 0px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 3px 10px;
    font-size: 11px;
    border-right: 0px;
}

.paginate_button.next {
    border-radius: 0px 0px 10px 0px;
    background-color: #fff !important;
    border: 1px solid #ddd;
    padding: 3px 10px;
    font-size: 11px;
}

.dataTables_paginate span a {
    border: 1px solid #ddd;
    padding: 3px 10px;
    font-size: 11px;
    border-right: 0px;
    background-color: #fff
}

.s39 {
    border-bottom: 1px solid #E5E5E5 !important;
    padding-bottom: 3px !important;;
}

.s40 {
    border-radius: 0px !important;
    border-bottom: 1px solid #E5E5E5 !important;
}

.s41 {
    border-radius: 0px !important;
}

.s42 {
    background: #ddd;
    height: 25px;
    border-radius: 10px 0 0 0;
    border-top: 0px !important;
}

.s50 {
    border: 1px solid #fff;
    height: 19px;
}

.s50:disabled {
    background: none;
    cursor: pointer;
}

.s53 {
    padding-top: 4px !important;
    height: 25px !important;
    max-width: 90% !important;
}

.s55 {
    padding-bottom: 0px !important;
    font-size: 14px !important;
}

.s56 {
    background: #FFF !important;
    border: 0px !important;
    color: #4660af;
}

.s56a {
    border-left: 2px solid #e5e5e5;
}

.s70 {
    overflow: auto;
}

.ui-dialog-buttonset button {
    background: none repeat scroll 0 0 #4861ad;
    border: 1px solid #314275;
    border-radius: 2px !important;
    color: #fff;
    font-size: 11px;
    padding: 3px 6px;
    margin: 2px;
}

.ui-dialog-buttonset button:hover {
    color: #FFF;
    background: #314275 !important;
}

.slimScrollBar {
    border-radius: 2px !important;
    margin-right: 5px;
    margin-top: 5px;
}

.nav li a {
    /*background: #3A6F9F; */
    color: #666;
    font-size: 11px;
    font-weight: 100
}

.nav li a:hover {
    /*opacity:0.9;*/
}

a div {
    display: none;
    text-align: center;
    position: absolute;
    z-index: 10;
    background: #FFF;
}

a:hover div {
    display: block;
    color: #999 !important;
}

/* DataTables Overrides */

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: transparent;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
    font-size: 10px;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
    font-size: 10px;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50, 50, 50, .5);
    font-size: 10px;
}

/* Circle Buttons */

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.show-grid [class^="col-"] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee !important;
}

.show-grid {
    margin: 15px 0;
}

.pdl0 {
    padding-left: 0px
}

.pdr0 {
    padding-right: 0px
}

.b1 {
    background: #F5F5F5
}

.b2 {
    font-weight: 100;
    margin-left: 10px;
    background: #F60;;
    border-radius: 3px;
    color: #fff;
    font-size: 11px;
    padding: 3px 6px;
}

.b3 {
    margin-top: 3px;
    padding: 0px;
}

.b4 {
    margin-right: 20px;
}

.b5 {
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    margin-bottom: 10px;
}

.b6 {
    max-width: 40px;
}

.datetimepicker {
    width: 205px !important
}

.cke_contents {
    max-height: 80px !important;
}

.b7 {
    padding: 1.6em 6px 0 !important;
}

.b8 {
    background: none
}

.b9 {
    display: none !important
}

.b10 {
    width: 80px !important
}

.b11 {
    padding-top: 0px !important
}

.b12 {
    padding-bottom: 0px !important
}

.b13 {
    font-weight: 100;
    margin-left: 10px;
    background: #65D36E;;
    border-radius: 3px;
    color: #fff;
    font-size: 11px;
    padding: 3px 6px;
}

.view-rate-sheet {
    margin-left: 5px;
    margin-right: 5px;
    border-bottom-width: 1px;
    margin-bottom: 10px;
}

.w10 {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e5e5e5;
    border-radius: 2px !important;
    color: #394B82;
    font-size: 11px;
    padding: 3px 6px;
    margin-bottom: 5px;
}

.w11 {
    margin-bottom: 5px !important;
    margin-top: 5px;
}

.w12 {
    height: 20px !important;
    padding-top: 0px !important;
    min-width: 200px;
}

.w13 {
    background: #4861ad none repeat scroll 0 0;
    border: 1px solid #314275;
    border-radius: 2px;
    color: #fff;
    margin-left: 10px;
    padding: 1px 10px;
}

.w14 {
    width: 287px !important;
}

.ovf {
    min-width: 200px !important;
    overflow: auto
}

.b14 {
    margin-top: 1px !important;
}

.b15 {
    margin-right: 5px !important
}

.form-group p {
    margin-bottom: 3px;
}

.b16 {
    border: 1px solid #e5e5e5 !important;
    border-radius: 3px !important;
    padding-left: 10px !important;
    padding-top: 10px !important;
}

.b16 tr td {
    border: 0px !important
}

.b17 {
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    margin-bottom: 4px;
    color: #848383
}

.b18 {
    font-weight: bold;
    color: #ff9933 !important;
    margin-bottom: 5px;
    margin-top: 5px;
}

.b19 {
    color: #63ae2e !important;
    text-decoration: underline;
}

.b20 {
    margin-top: 2px;
    float: left;
    margin-right: 5px;
    color: #666
}

.b21 {
    background: #E5E5E5;
    margin-left: 5px;
    padding-left: 5px;
    border-radius: 2px;
}

.b22 {
    border: 1px solid #E5E5E5
}

.sss {
    display: block !important
}

.b23 {
    padding: 5px;
    border: 1px solid #E5E5E5;
    background: #F4F4F4
}

.b24 tr td {
    padding: 3px 4px;
}

.b25 {
    margin-left: 40px !important;
}

.b25a {
    margin-left: 20px !important;
}

.b25b {
    margin-left: 40px !important;
}

.b25c {
    border: 1px solid #E5E5E5;
    padding: 0 5px;
    min-width: 177px;
}

.b26 {
    padding-bottom: 20px !important;
}

.td2 input {
    height: 21px !important;
    margin: 0px !important
}

.td2 select {
    height: 21px !important;
    margin: 0px !important;
    padding: 1px 10px !important;
}

.b27 {
    border: 1px solid #E5E5E5
}

.b28 {
    background: #EEEEEE;
    border: 1px solid #ccc
}

.b29 {
    position: absolute;
    top: 64px;
    margin-left: 5px;
}

.b30 {
    border-bottom: 1px dotted #E5E5E5;
}

.b31 {
    border-bottom: 1px dotted #fff !important;
}

.b32 {
    float: left;
    margin-bottom: 10px;
}

.b34 {
    padding: 4px 3px 0px;
    border: 1px dotted rgb(255, 0, 0);
}

.b35 {
}

.b36 {
    padding-top: 0px;
    position: absolute;
    right: 0;
    top: 7px;
    background: #FFF
}

.c32 {
    font-size: 11px;
    padding: 0 5px;
}

.c32a {
    font-size: 11px;
    padding: 3px 5px;
}

.c33 {
    padding: 5px 0px;
    margin-bottom: 10px !important;
}

.c34 {
    font-size: 11px;
    padding: 0 5px;
    width: 70px;
}

.c35 {
    font-size: 11px;
    padding: 0 5px;
    margin-top: 10px;
}

.c36 li {
    float: left;
    list-style: none;
}

@media only screen and (min-width: 500px) and (max-width: 1000px) {
    .nav > li > a {

        padding: 10px 4px;

    }

}

.st {
    color: #FFF !important;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 11px;
}

.st:hover {
    background: #475E8E !important;
}

.sm-collapsible {
    background: #fff !important;
    margin-top: 0px !important;
}

.sm-collapsible li a {
    color: #848383 !important
}

.sm-collapsible li a:hover {
    background: #F5F5F5 !important
}

.sws {
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
}

.swa {
    padding-right: 5px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.mgl {
    margin-left: 15px;
}

.pst {
    position: absolute;
    right: 10px;
    margin-top: -4px;
}
