table.tablesorter {

}

table.tablesorter thead tr th, table.tablesorter tfoot tr th {
    border: 1px solid #ddd;
}

table.tablesorter thead tr .header {
    background-image: url(../../../../images/sort-icons/bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}

table.tablesorter tbody td {

}

table.tablesorter tbody tr.odd td {

}

table.tablesorter thead tr .headerSortUp {
    background-image: url(../../../../images/sort-icons/asc.gif);
}

table.tablesorter thead tr .headerSortDown {
    background-image: url(../../../../images/sort-icons/desc.gif);
}

table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {

}