<!DOCTYPE html>
<html>
<head>
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: 9px;
            color: #000;
            padding-left: 20px;
            padding-right: 20px;
        }

        table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            margin-bottom: 5px;
            page-break-inside: auto
        }

        table thead {
            background-color: #c5c5c5;
        }

        table tr {
            page-break-inside: avoid;
            page-break-after: auto
        }

        .no-border {
            border: none;
        }

        .border {
            border-collapse: collapse;
            font-size: 10px;
        }

        .border thead tr:first-child th {
            mso-style-parent: style0;
            border-top: .5pt solid windowtext;
            border-right: 0.5pt solid windowtext;
            border-left: .5pt solid windowtext;
            border-bottom: none;
        }

        .border thead tr th {
            mso-style-parent: style0;
            border-top: .5pt solid windowtext;
            border-right: 0.5pt solid windowtext;
            border-bottom: 0.5pt solid windowtext;
            border-left: .5pt solid windowtext;
            font-size: 12px;
        }

        .border tbody tr td {
            mso-style-parent: style0;
            border-top: .5pt solid windowtext;
            border-right: 0.5pt solid windowtext;
            border-bottom: 0.5pt solid windowtext;
            border-left: .5pt solid windowtext;
            padding: 1px;
        }

        .border tr td {
            mso-style-parent: style0;
            border-top: .5pt solid windowtext;
            border-right: 0.5pt solid windowtext;
            border-bottom: 0.5pt solid windowtext;
            border-left: .5pt solid windowtext;
            padding: 1px;
        }
    </style>
</head>
<body>