</tbody>
<tfoot>
<tr>
    <td colspan="6"
        align="right">${(lang.translate('Total Airbills:'))!" "} ${(total.totalAirbills)!"0"} ${(lang.translate('Customer Total:'))!" "} ${(currencySymbol)!"$"}${(total.totalCustomerAmount)!"0.00"} ${(lang.translate('Franchise Cost:'))!" "} ${(currencySymbol)!"$"}${(total.totalFranchiseAmount)!"0.00"} ${(lang.translate('Margin:'))!" "} ${(currencySymbol)!"$"}${(total.totalMargin)!"0.00"}</td>
</tr>
</tfoot>
</table>
</body>
</html>