
<table>

    <td width="150px"><img src="${(logo)!" "}" alt="" width="150px"/></td>
    <td align="left"><span
            style="font-size: 13px; font-weight: bold;">${(lang.translate("Prepared for:"))!"Prepared for:"} ${(name?html)!" "}</span>
    </td>
</table>
