@charset "utf-8";
/* CSS Document */
@import "http://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css";

body {
    font: 13px/20px "My", Tahoma, Verdana, sans-serif;
    color: #404040;
    overflow: hidden;
}

.Wp {
    width: 1000px;
    margin: 0 auto;
    height: auto;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-top: 1px;
}

.img {
    float: left;
    margin-top: 152px;
    margin-left: 70px;
}

.a {
    color: #F93
}

.login {
    float: right;
    margin-right: 70px;
    margin-top: 90px;
    padding: 20px 20px 20px;
    width: 310px;
    background: white;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
}

.login:before {
    content: '';
    position: absolute;
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    z-index: -1;
    background: rgba(0, 0, 0, 0.08);
    border-radius: 4px;
}

.login h1 {
    margin: -20px -20px 21px;
    line-height: 40px;
    font-size: 17px;
    color: #4e8720;
    text-align: center;
    text-shadow: 0 1px white;
    background: #f3f3f3;
    border-bottom: 1px solid #cfcfcf;
    border-radius: 3px 3px 0 0;
    background-image: -webkit-linear-gradient(top, whiteffd, #eef2f5);
    background-image: -moz-linear-gradient(top, whiteffd, #eef2f5);
    background-image: -o-linear-gradient(top, whiteffd, #eef2f5);
    background-image: linear-gradient(to bottom, whiteffd, #eef2f5);
    -webkit-box-shadow: 0 1px whitesmoke;
    box-shadow: 0 1px whitesmoke;
    text-shadow: 1px 1px 2px #ccc;
}

.login p {
    margin: 20px 0 0;
}

.login p:first-child {
    margin-top: 0;
}

.login input[type=text], .login input[type=password] {
    width: 278px;
}

.login p.remember_me {
    float: left;
    line-height: 31px;
}

.login p.remember_me label {
    font-size: 12px;
    color: #777;
    cursor: pointer;
}

.login p.remember_me input {
    position: relative;
    bottom: 1px;
    margin-right: 4px;
    vertical-align: middle;
}

.login p.submit {
    text-align: right;
}

.login-help {
    font-size: 11px;
    color: #2F2F2F;
    text-align: center;
    margin-top: 90px;
    clear: both;
    display: block;
    padding-top: 50px;
}

.login-help a {
    color: #61A926;
    text-decoration: underline;
}

.login-help a:hover {
    text-decoration: underline;
}

:-moz-placeholder {
    color: #c9c9c9 !important;
    font-size: 13px;
}

::-webkit-input-placeholder {
    color: #ccc;
    font-size: 13px;
}

input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

input[type=text], input[type=password] {
    margin: 5px;
    padding: 0 10px;
    width: 200px;
    height: 30px;
    color: #404040;
    background: white;
    border: 1px solid;
    border-color: #D0F2B5 #D0F2B5 #D0F2B5;
    border-radius: 2px;
    outline: 5px solid #E4F7D4;
    -moz-outline-radius: 2px;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
}

input[type=text]:focus, input[type=password]:focus {
    border-color: #DBDAC7;
    outline-color: #F3F3F3;
    outline-offset: 0;
}

input[type=submit] {
    padding: 0 18px;
    height: 29px;
    font-size: 12px;
    font-weight: bold;
    color: #527881;
    text-shadow: 0 1px #e3f1f1;
    background: #cde5ef;
    border: 1px solid;
    border-color: #b4ccce #b3c0c8 #9eb9c2;
    border-radius: 16px;
    outline: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    background-image: -webkit-linear-gradient(top, #edf5f8, #cde5ef);
    background-image: -moz-linear-gradient(top, #edf5f8, #cde5ef);
    background-image: -o-linear-gradient(top, #edf5f8, #cde5ef);
    background-image: linear-gradient(to bottom, #edf5f8, #cde5ef);
    -webkit-box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

input[type=submit]:active {
    background: #cde5ef;
    border-color: #9eb9c2 #b3c0c8 #b4ccce;
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}

.lt-ie9 input[type=text], .lt-ie9 input[type=password] {
    line-height: 34px;
}

.CT {
    width: 100%;
    height: 50px;
    background: #60a925;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
    display: block;
}

.Not {
    float: right;
    height: 40px;
    width: 425px;
    margin-top: 5px;
}

.Not ul {
    float: left;
    height: 40px;
    width: 400px;
}

.Not ul li {
    float: left;
}

.Not span {
    color: #366EA5;
    font-size: 14px;
    width: auto;
    height: 40px;
    float: left;
    margin-right: 5px;
    font-weight: bold
}

.st1 {
    color: #BD995B;
    font-weight: bold;
    padding-bottom: 10px;
}

.st2 {
    color: #666666;
    padding-bottom: 20px;
    text-align: left
}

.st3 {
    margin: 0px !important
}

@media all and (max-width: 1150px) , only screen and
(-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px) , only
screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px) , only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px) , only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px) , only screen and (min-resolution: 192dpi) and (max-width: 1024px) , only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
    .img {
        width: 400px !important;
    }

    .login {
        float: left;
    }

    .login-help {
        float: left;
        margin-left: 142px;
        margin-top: -18px;
    }

    .Not {
        display: none;
    }
}

@media all and (max-width: 900px) , only screen and
(-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px) , only
screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px) , only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px) , only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px) , only screen and (min-resolution: 192dpi) and (max-width: 1024px) , only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
    .img {
        width: 300px !important;
    }

    .login-help {
        float: left;
        margin-left: 102px;
        margin-top: -18px;
    }

    .Not {
        display: none;
    }
}

{
    display: none
;
}
}