@charset "utf-8";
/* CSS Document */
/*Loading*/
#fadingBarsG {
    position: relative;
    width: 124px;
    height: 15px
}

.fadingBarsG {
    position: absolute;
    top: 0;
    background-color: #b5121b;
    width: 15px;
    height: 15px;
    -moz-animation-name: bounce_fadingBarsG;
    -moz-animation-duration: 1.8s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: reverse;
    -moz-transform: scale(.3);
    -webkit-animation-name: bounce_fadingBarsG;
    -webkit-animation-duration: 1.8s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: reverse;
    -webkit-transform: scale(.3);
    -ms-animation-name: bounce_fadingBarsG;
    -ms-animation-duration: 1.8s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-direction: linear;
    -ms-transform: scale(.3);
    -o-animation-name: bounce_fadingBarsG;
    -o-animation-duration: 1.8s;
    -o-animation-iteration-count: infinite;
    -o-animation-direction: reverse;
    -o-transform: scale(.3);
    animation-name: bounce_fadingBarsG;
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    transform: scale(.3);
}

#fadingBarsG_1 {
    left: 0;
    -moz-animation-delay: 0.72s;
    -webkit-animation-delay: 0.72s;
    -ms-animation-delay: 0.72s;
    -o-animation-delay: 0.72s;
    animation-delay: 0.72s;
}

#fadingBarsG_2 {
    left: 16px;
    -moz-animation-delay: 0.9s;
    -webkit-animation-delay: 0.9s;
    -ms-animation-delay: 0.9s;
    -o-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

#fadingBarsG_3 {
    left: 31px;
    -moz-animation-delay: 1.08s;
    -webkit-animation-delay: 1.08s;
    -ms-animation-delay: 1.08s;
    -o-animation-delay: 1.08s;
    animation-delay: 1.08s;
}

#fadingBarsG_4 {
    left: 47px;
    -moz-animation-delay: 1.26s;
    -webkit-animation-delay: 1.26s;
    -ms-animation-delay: 1.26s;
    -o-animation-delay: 1.26s;
    animation-delay: 1.26s;
}

#fadingBarsG_5 {
    left: 62px;
    -moz-animation-delay: 1.44s;
    -webkit-animation-delay: 1.44s;
    -ms-animation-delay: 1.44s;
    -o-animation-delay: 1.44s;
    animation-delay: 1.44s;
}

#fadingBarsG_6 {
    left: 78px;
    -moz-animation-delay: 1.62s;
    -webkit-animation-delay: 1.62s;
    -ms-animation-delay: 1.62s;
    -o-animation-delay: 1.62s;
    animation-delay: 1.62s;
}

#fadingBarsG_7 {
    left: 93px;
    -moz-animation-delay: 1.8s;
    -webkit-animation-delay: 1.8s;
    -ms-animation-delay: 1.8s;
    -o-animation-delay: 1.8s;
    animation-delay: 1.8s;
}

#fadingBarsG_8 {
    left: 109px;
    -moz-animation-delay: 1.98s;
    -webkit-animation-delay: 1.98s;
    -ms-animation-delay: 1.98s;
    -o-animation-delay: 1.98s;
    animation-delay: 1.98s;
}

@-moz-keyframes bounce_fadingBarsG {0%
{
    -moz-transform: scale(1);
    background-color: #b5121b;
}

100%
{
    -moz-transform: scale(.3);
    background-color: #FFFFFF;
}
}
@-webkit-keyframes bounce_fadingBarsG {
0%
{
    -webkit-transform: scale(1);
    background-color: #b5121b;
}

100%
{
    -webkit-transform: scale(.3);
    background-color: #FFFFFF;
}
}

@-ms-keyframes bounce_fadingBarsG {0%
{
    -ms-transform: scale(1);
    background-color: #b5121b;
}
100%
{
    -ms-transform: scale(.3);
    background-color: #FFFFFF;
}
}

@-o-keyframes bounce_fadingBarsG {
0%
{
    -o-transform: scale(1);
    background-color: #b5121b;
}
100%
{
    -o-transform: scale(.3);
    background-color: #FFFFFF;
}
}

@keyframes bounce_fadingBarsG {0%
{
    transform: scale(1);
    background-color: #b5121b;
}

100%
{
    transform: scale(.3);
    background-color: #FFFFFF;
}
}
/*End Loading*/
.classlogo {
    margin-left: 15px;
    top: -10px;
    width: 190px;;
    position: relative;
    z-index: 100;
}

#topbar .navbar-top-links li.open > a {
    background: #4E8720 !important;
    color: #ffffff !important;
}

#topbar .navbar-top-links li.open > a:hover, #topbar .navbar-top-links li.open > a:focus {
    background: #4E8720 !important;
}

.S221 {
    background: #4E8720 !important
}

.navbar-static-side ul li a:hover, .navbar-static-side ul li a {
    color: #4E8720 !important;
}

.caption {
    color: #293979 !important;
    padding-bottom: 8px !important;
}

.portlet-header {
    padding-bottom: 0px !important;
}

label {
    color: #293979 !important;
}

#menu li:hover > a {
    color: #fafafa;
    background: #508A20;
}

.portlet-header {
    padding-bottom: 3px !important;
}

#cssmenu {
    position: relative;
    width: auto;
    border-top: 3px solid #b5121b;
}

#cssmenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 1;
}

#cssmenu > ul {
    position: relative;
    display: block;
    background: #fff;
    z-index: 10;
}

#cssmenu:after, #cssmenu > ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

#cssmenu.align-right > ul > li {
    float: right;
}

#cssmenu > ul > li:hover {
    background: #F5F5F5;
}

#cssmenu.align-center ul {
    text-align: center;
}

#cssmenu.align-center ul ul {
    text-align: right;
}

#cssmenu > ul > li {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
}

#cssmenu > ul > #menu-button {
    display: none;
}

#cssmenu ul li a {
    display: block;
    font-family: 'My';
    text-decoration: none;
}

#cssmenu > ul > li > a {
    color: #293979 !important;
    font-size: 15px;
    padding: 36px 20px;
    text-transform: uppercase;
    transition: color 0.25s ease-out 0s;
}

#cssmenu > ul > li.has-sub > a {
    padding-right: 32px;
}

#cssmenu > ul > li:hover > a {
    color: #ffffff;
}

#cssmenu li.has-sub::after {
    display: block;
    content: "";
    position: absolute;
    width: 0;
    height: 0;
}

#cssmenu > ul > li.has-sub::after {
    right: 10px;
    top: 20px;
    border: 5px solid transparent;
    border-top-color: #7a8189;
}

#cssmenu > ul > li:hover::after {
    border-top-color: #ffffff;
}

/*#indicatorContainer {
  position: absolute;
  height: 12px;
  width: 100%;
  bottom: 0px;
  overflow: hidden;
  z-index: -1;
}
#pIndicator {
  position: absolute;
  height: 0;
  width: 100%;
  border: 12px solid transparent;
  border-top-color: #2b2f3a;
  z-index: -2;
  -webkit-transition: left .25s ease;
  -moz-transition: left .25s ease;
  -ms-transition: left .25s ease;
  -o-transition: left .25s ease;
  transition: left .25s ease;
}
#cIndicator {
  position: absolute;
  height: 0;
  width: 100%;
  border: 12px solid transparent;
  border-top-color: #2b2f3a;
  top: -12px;
  right: 100%;
  z-index: -2;
}*/
#cssmenu ul ul {
    position: absolute;
    left: -9999px;
    top: 70px;
    z-index: 1000;
    margin-top: -4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) !important;
}

#cssmenu ul ul ul {
    top: 37px;
    padding-left: 5px;
}

#cssmenu ul ul li {
    position: relative;
}

#cssmenu > ul > li:hover > ul {
    left: auto;
    top: 44px;
    opacity: 1;
}

#cssmenu.align-right > ul > li:hover > ul {
    left: auto;
    right: 0;
    opacity: 1;
}

#cssmenu ul ul li:hover > ul {
    left: 170px;
    top: 0;
    opacity: 1;
}

#cssmenu.align-right ul ul li:hover > ul {
    left: auto;
    right: 170px;
    top: 0;
    opacity: 1;
    padding-right: 5px;
}

#cssmenu ul ul li a {
    width: auto;
    padding: 10px 40px;
    font-size: 12px;
    color: #9ea2a5;
    background: #ffffff;
    -webkit-transition: all .35s ease;
    -moz-transition: all .35s ease;
    -ms-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;
}

#cssmenu.align-right ul ul li a {
    text-align: right;
}

#cssmenu ul ul li:hover > a {

}

#cssmenu ul ul li:last-child > a, #cssmenu ul ul li.last > a {
    border-bottom: 0;
}

.s60 {
    font-size: 18px;
    margin-top: 4px !important;
    color: #293979;
}

.s61 {
    width: 30px;
    height: 30px;
    background: #fff;
    text-align: center;
    color: #fff;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    margin-right: 5px;
    margin-left: 5px;
}

@media all and (max-width: 1350px) , only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px) , only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px) , only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px) , only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px) , only screen and (min-resolution: 192dpi) and (max-width: 1024px) , only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
    #cssmenu {
        width: auto;
    }

    #cssmenu.align-center ul {
        text-align: left;
    }

    #cssmenu.align-right > ul > li {
        float: none;
    }

    #cssmenu ul {
        width: auto;
    }

    #cssmenu .submenuArrow, #cssmenu #indicatorContainer {
        display: none;
    }

    #cssmenu > ul {
        height: auto;
        display: block;
    }

    #cssmenu > ul > li {
        float: none;
    }

    #cssmenu li, #cssmenu > ul > li {
        display: none;
    }

    #cssmenu ul ul, #cssmenu ul ul ul, #cssmenu ul > li:hover > ul, #cssmenu ul ul > li:hover > ul, #cssmenu.align-right ul ul, #cssmenu.align-right ul ul ul, #cssmenu.align-right ul > li:hover > ul, #cssmenu.align-right ul ul > li:hover > ul {
        position: relative;
        left: auto;
        top: auto;
        opacity: 1;
        padding-left: 0;
        padding-right: 0;
        right: auto;
    }

    #cssmenu ul .has-sub::after {
        display: none;
    }

    #cssmenu ul li a {
        padding: 12px 35px;
        font-size: 12px;
    }

    #cssmenu ul ul li a {
        border: 0;
        background: none;
        width: auto;
        padding: 8px 35px;
    }

    #cssmenu.align-right ul ul li a {
        text-align: left;
    }

    #cssmenu ul ul li:hover > a {
        background: none;
        color: #8c9195;
    }

    #cssmenu ul ul ul a {
        padding: 8px 50px;
    }

    #cssmenu ul ul ul ul a {
        padding: 8px 65px;
    }

    #cssmenu ul ul ul ul ul a {
        padding: 8px 80px;
    }

    #cssmenu ul ul ul ul ul ul a {
        padding: 8px 95px;
    }

    #cssmenu > ul > #menu-button {
        display: block;
        cursor: pointer;
    }

    #cssmenu #menu-button > a {
        padding: 18px 20px;
    }

    #cssmenu ul.open li, #cssmenu > ul.open > li {
        display: block;
    }

    #cssmenu > ul.open > li#menu-button > a {
        color: #fff;
        border-bottom: 1px solid rgba(150, 150, 150, 0.1);
    }

    #cssmenu ul ul::after {
        display: none;
    }

    #cssmenu #menu-button::after {
        display: block;
        content: '';
        position: absolute;
        height: 7px;
        width: 22px;
        border-top: 2px solid #b5121b;
        border-bottom: 2px solid #b5121b;
        right: 20px;
        top: 20px;
    }

    #cssmenu #menu-button::before {
        display: block;
        content: '';
        position: absolute;
        height: 3px;
        width: 22px;
        border-top: 2px solid #b5121b;
        right: 20px;
        top: 30px;
    }

    #cssmenu ul.open #menu-button::after, #cssmenu ul.open #menu-button::before {
        border-color: #5EB24D;
    }

    #cssmenu ul ul li a {
        color: #ccc;
    }

    #menu-button:hover {
        background: #fff !important
    }

    #menu-button {
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 0px 0 rgba(0, 0, 0, 0.1) inset;
    }

    .classlogo {
        width: 120px;
        top: -13px;
    }

    .page-title-breadcrumb {
        padding: 5px 45px;
    }

    .a2 {
        display: none
    }

    .s61 {
        margin-left: 10px !important;
        background: #fff none repeat scroll 0 0;
    ! important;
        border-radius: 100%;
    ! important;
        color: #fff;
    ! important;
        height: 27px;
    ! important;
        margin-left: 30px;
    ! important;
        margin-right: 5px;
    ! important;
        text-align: center;
    ! important;
        width: 27px;
    !important;
    }

    .s60 {
        color: #293979;
    ! important;
        font-size: 14px;
    ! important;
        margin-top: 3px !important;
    }
}

#page-wrapper {
    margin-top: 0px !important;
}

.accsub > a {
    padding-top: 15px !important;
    padding-bottom: 14px !important;
}

.accsub > a > img {
    float: left;
    width: 25px;
    margin: -8px 5px 0px 0px;
}

.accsub > a > span {
    font-weight: 100 !important;
}

.accsub {
    background: #508A20;
    float: right;
}

.breadcrumb {
    padding-top: 0px;
}

.td1 {
    color: #293979;
}

.pdl0 {
    padding-left: 0px;
}

.w2 {
    border-radius: 0px !important;
    border: 0px !important;
}

.w1 {
    border: 0px !important;
}

.w3 {
    border-radius: 0px !important;
}

.w4 {
    border: 0px;
    color: #848383 !important;
    font-size: 14px !important;
    padding-top: 1px !important;
}

.w5 {
    margin-top: 1px;
    border-radius: 2px !important;
}

.w6 {
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.w7 {
    padding: 5px 10px;
}

.w8 {
    display: block !important;
}

.w9 {
    line-height: 25px;
}

.w10 {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #e5e5e5;
    border-radius: 2px !important;
    color: #6dba2e;
    font-size: 11px;
    padding: 3px 6px;
}

.w11 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.w12 {
    width: 50% !important
}

.ncl {
    color: #666;
}

h6 {
    margin-bottom: 3px;
}

.sss1 {
    border: 1px solid #e5e5e5;
    margin-top: 1px;
    padding-left: 5px;
    position: absolute;
    width: 100%;
    background: #fff;
    z-index: 9;
    max-height: 300px;
    overflow: auto;
}

.sss1 a {
    display: block;
}

.sss1 li:hover {
    background-color: #5D6AA0;
}

.sss1 li:hover p {
    color: #fff;
}

.sss1 li:nth-child(odd) {
    background-color: #ADBAF0;
}

.sss1 li:nth-child(odd) p {
    color: #fff;
}

.sss1 li:nth-child(odd) div {
    color: #fff;
}

.s36 > tr > td > label {
    margin-bottom: 0px !important;
}

.d1 {
    background: #FFF;
}

.ss36 {
    height: 19px;
}

.ss37 {
    padding: 0px 6px;
    margin-bottom: 1px;
}

.ss38 {
    height: 19px;
    padding-top: 0px;
}

.sss1 li {
    padding: 5px 2px;
    font-size: 11px;
    list-style: outside none none;
}

.s50 tr th {
    border-color: #EAEEF7 !important;
    padding: 0px 4px !important
}

.s50 tr td {
    border-color: #EAEEF7 !important;
}

.s51 {
    padding-bottom: 0px !important;
    font-size: 14px !important;
}

.ui-dialog-titlebar-close {
    background: #fff !important;
    color: #444 !important;
}

.s53 {
    margin-left: 3px;
}

.s62 {
    padding-top: 5px;
}

.s99 tr {
    background: #EAEEF7
}

th {
    font-weight: 100;
    color: #293979;
    text-transform: uppercase
}

.table-bordered tr th {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 0px 0 rgba(0, 0, 0, 0.1) inset !important;
    background: #F7F9FF;
}

select {
    padding-top: 1px !important;
    padding-bottom: 1px !important;
}

.clicks {
    color: #666 !important
}

.ui-dialog-buttonset {
    padding-bottom: 20px;
}

.cl {
    background: #EAEEF7 !important
}

.lsc {
    background: none !important;
    border: none !important;
    padding: 1px 3px !important;
    color: #b5121b !important;
}

.t1 {
    margin-top: -3px;
}

.pull-right {
    margin-right: -5px;
}

.wsg {
    color: #b5121b;
    text-decoration: underline
}

u > i {
    color: #b5121b;
}

u {
    color: #b5121b;
}

.dangers {
    box-shadow: 0 0 2px rgba(255, 0, 0, 0.5) !important;
    border-color: rgba(255, 0, 0, 0.3) !important;
    color: #FF0000 !important
}

.b13 {
    background: url(../../../../images/bg.jpg) no-repeat fixed center center / cover !important;
    height: 100% !important;
    width: 100% !important
}

.b14 {
    background: none !important;
    box-shadow: none !important
}

.b15 {
    padding-left: 150px;
    padding-right: 150px;
}

.b16 {
    margin-left: 10px;
    color: #FFF !important;
    font-size: 15px;
}

.b17 {
    color: #b5121b;
    font-size: 24px;
}

@media only screen and (min-width: 0px) and (max-width: 1366px) and (min-height: 0px ) and (max-height: 768px) {
    .table {
        font-size: 8px !important;
    }

    .s33 {
        font-size: 8px !important;
    }

    .cb1 {
        margin-top: 0 !important;
    }

    label {
        font-size: 10px !important;
    }

    .form-control {
        height: 21px;
        font-size: 8px !important;
    }

    .dimensionList {
        height: 21px !important;
    }
}