.nav, .nav ul, .nav li {
    list-style: none;
}

.nav li ul li {
    padding: 10px 0px;
    background: #FFF;
    border: 0px;
}

.nav li ul li a span {
    background: #FFF;
    color: #6666
}

.nav li ul li a {
    /*background:#FFF !important;*/
}

.nav li ul {
    background: #FFF;
    overflow: hidden; /*border-bottom:1px solid #E5E5E5;*/
}

.nav li ul li ul li a span {
    margin-left: -15px !important;
}

.nav li ul li ul {
    margin-top: 5px;
    border-top: 1px dotted #CCC;
    font-size: 11px;
    color: #366794;
    background: #F7F7F7;
}

.nav li ul li ul li {
    background: none;
}

.nav li ul li ul li a span {
    background: none;
}

.s2:after {
    content: '\25be';

}

.nav li.open > a > .s2:after {
    content: '\25b4';
}

.nav > li > a > .s2 {
    display: none;
}

.s3 {
    height: 61px;
    background: #fff !important;
    border-bottom: 5PX solid #999999 !important;
    padding-top: 0px;
}

.s4 {
    color: #999999;
    font-size: 18px;
    padding-top: 20px;
    padding-left: 5px;
}

.s5 {
    background: #FFF !important;
    padding-top: 20px !important;
    padding-left: 0px !important;
    padding-bottom: 0px !important;
    font-weight: 400 !important;;
    top: 5px;
}

.s6 {
    padding-left: 0px;
    margin-bottom: 0px;
    list-style: outside none none;
}

.s7 {
    margin-left: 0px !important;
}

.s8 {
    left: -128px;
    top: 25px;
    font-family: Tahoma, Geneva, sans-serif;
    box-shadow: 0px 0px 0px #FFF !important;
    border: 1px solid #E5E5E5;
    border-top: 0px;
    border-right: 0px;
}

.s9 {
    margin-right: 10px;
    background: #394B82;
    cursor: pointer;
    padding-left: 1px;
    padding-right: 1px;
}

.s10 {
    font-size: 14px;
    margin-top: 0px;
    cursor: pointer;
    border: 0px;
    background: none;
}

.s10:hover {
    color: #1ABDB4;
}

.s11 {
    padding: 0px;
}

.s12 {
    display: inline-block;
}

.s13 {
    width: 60%;
    min-height: 200px;
}

.s14 {
    width: 100%;
    display: block;
}

.s15 {
    margin-bottom: 0px;
    width: 100%;
}

.s16 {
    width: 50%;
    display: block;
    background: #333
}

.s18 {
    margin: 60px 0px 0px 30px;
    width: 30%;
    float: left;
    font-size: 11px;
}

.s19 {
    margin: 15px 0px 20px 30px;
    width: 60%;
    float: left;
    font-size: 11px;
}

.s20 {
    margin: 15px 0px 20px 30px;
    width: 30%;
    float: left;
    font-size: 11px;
}

.s21 {
    background: #A5A5A5;
    padding: 2px 12px;
    color: #fff;
    border-radius: 12px !important;
    margin-bottom: 4px;
    border: 1px solid #999l;
    margin-left: 20px;
    font-size: 12px;
    font-weight: bold;
    float: left;
}

.s22 {
    color: #666;
    float: left;
}

.s23 {
    float: right;
    font-size: 14px;
    font-weight: bold
}

.s24 {
    font-weight: bold;
}

.s25 {
    color: #999;
    float: left;
}

.s26 {
    width: 80%;
    padding: 2px;
    height: 20px;
    font-size: 12px;
    color: #848383;
    padding-left: 10px;
    font-weight: 100;
    border-radius: 10px 0px !important;
    border: 0px;
}

.s27 {
    padding-bottom: 3px !important;
    padding-top: 0px !important;
    border-radius: 10px 0px !important;
}

.s28 {
    margin-top: 5px !important;
    text-align: right !important;
}

.s29 {
    background: #60A925 !important;
}

.s30 {
    color: #F00
}

.s31 {
    padding: 0 10px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1) !important;
}

.s32 {
    font-size: 12px;
    color: #666;
    text-align: center;
    margin-bottom: 10px;
}

.s33 {
    background: #5d6aa0 none repeat scroll 0 0;
    border-radius: 2px !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
    color: #fff;
    font-size: 12px;
    padding: 3px 6px;
}

.s33:hover {
    background: #3a4d96 none repeat scroll 0 0 !important;
    color: #fff;
}

.s33a {
    background: #20358c none repeat scroll 0 0;
    border-radius: 2px !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
    color: #fff;
    font-size: 12px;
    padding: 3px 6px;
}

.s33a:hover {
    background: #b5121b none repeat scroll 0 0 !important;
    color: #fff;
}

.s34 {
    font-size: 12px;
    font-weight: bold;
    color: #666;
    margin-bottom: 5px;
    margin-left: 5px;
}

.s35 {
    padding: 2px;
    height: 20px;
    font-size: 12px;
    color: #999;
    padding-left: 10px;
    font-weight: 100;
    border: 0px;
    border-radius: 10px 0px 0px 0px !important;
}

.s36 tr td {
    padding: 0px 5px;
    font-size: 12px;
}

.s37 {
    font-size: 11px;
    color: #FFF;
    border: 1px solid #314275;
    border-radius: 2px !important;
    background: #4861AD;
    padding: 2px 6px 4px 6px;
}

.s37:hover {
    color: #FFF;
    background: #314275 !important;
}

.s38 {
    font-weight: bold;
    font-size: 12px;
}

p {
    color: #666;
    font-size: 13px;
}

.td1 {
    border: 0px !important;
    background: #F7F9FF;
    border-radius: 10px 0px 0px 0px;
    border-bottom: 1px solid #EAEEF7 !important;
    width: 40%;
    padding: 4px !important;
    font-weight: 500;
    text-align: left;
    padding-left: 10px !important;
    color: #666;
}

.td2 {
    border-top: 0px !important;
    border-bottom: 1px dotted #ccc;
    width: 60%;
    text-align: left;
    padding-left: 10px !important;
    4px !important;
    color: #666;
}

.td3 {
    border-top: 0px !important;
    border-bottom: 1px dotted #E5E5E5;
    text-align: left;
    color: #666;
    padding-left: 10px !important;
}

.th1 {
    background: #E5E5E5;
    border-radius: 10px 0px 0px 0px;
    border: 0px !important;
    font-weight: 100;
    padding-left: 10px !important;
}

.th2 {
    background: #E5E5E5;
    border: 0px !important;
}

.th3 {
    background: #DDDDDD;
    color: #9999
}

.tr1 {
    border: 0px !important;
}

.mg0 {
    margin: 0px
}

.mgb {
    margin-bottom: 0px;
}

.pd0 {
    padding: 0px
}

.pd1 {
    padding: 0px 2px
}

.pdt10 {
    padding-top: 10px !important
}

.fw0 {
    font-weight: 100 !important;
}

.fll {
    float: left !important;
    width: 80%;
}

.flr {
    float: right;
}

.cl666 {
    color: #666;
}

.dataTables_paginate {
    float: right;
    width: 100%;
    height: 27px;
    text-align: right;
    margin-top: 3px;
}

.previous {
    border-radius: 10px 0px 0px 0px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 3px 10px;
    font-size: 11px;
    border-right: 0px;
}

.next {
    border-radius: 0px 0px 10px 0px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 3px 10px;
    font-size: 11px;
}

.dataTables_paginate span a {
    border: 1px solid #ddd;
    padding: 3px 10px;
    font-size: 11px;
    border-right: 0px;
}

.s39 {
    border-bottom: 1px solid #E5E5E5 !important;
    padding-bottom: 3px !important;;
}

.s40 {
    border-radius: 0px !important;
    border-bottom: 1px solid #E5E5E5 !important;
}

.s41 {
    border-radius: 0px !important;
}

.s42 {
    background: #ddd;
    height: 25px;
    border-radius: 10px 0 0 0;
    border-top: 0px !important;
}

.s44 {
    margin-bottom: 5px;
}

.slimScrollBar {
    border-radius: 2px !important;
    margin-right: 5px;
    margin-top: 5px;
}

.nav li a {
    /*background: #3A6F9F; */
    color: #666 !important;
}

.nav li a:hover {
    opacity: 0.9;
}

a div {
    display: none;
    text-align: center;
    position: absolute;
    z-index: 10;
    background: #FFF;
}

a:hover div {
    display: block;
    color: #999 !important;
}

/* DataTables Overrides */

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: transparent;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
    font-size: 10px;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
    font-size: 10px;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50, 50, 50, .5);
    font-size: 10px;
}

/* Circle Buttons */

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.show-grid [class^="col-"] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee !important;
}

.show-grid {
    margin: 15px 0;
}