<html>
<head>
    <style type="text/css">
        @page {
            size: 14cm 20cm;
            margin: 10px 20px 10px 20px;
            font-family: Arial;
        }

        .text-lg {
            font-size: 40px;
        }

        .text-20 {
            font-size: 20px;
        }

        .text-md {
            font-size: 16px;
        }

        .text-sm {
            font-size: 12px;
        }

        .text-bold {
            font-weight: bold;
        }

        .text-left {
            text-align: left;
        }

        .text-right {
            text-align: right;
        }

        .text-center {
            text-align: center;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        .table-border tbody tr td {
            border: 2px solid #000;
        }

        .line tbody tr td {
            border-bottom: 3px solid #000;
        }

        .line tbody tr:last-child td {
            border-bottom: 0;
        }
    </style>
</head>
<body style="font-family: Arial; font-size: 12px;">
<table class="line">
    <tbody>
    <tr border="0">
        <td class="text-left"><span class="text-lg text-bold"></span></td>
        <td class="text-left"><span class="text-lg text-bold">TNT</span></td>
        <td class="text-right"><span class="text-md text-bold">
					SYD <br/>
					IXX500112893
				</span></td>
    </tr>
    <tr>
        <td><span class="text-20 text-bold">SYDNEY</span></td>
        <td colspan="2" class="text-right"><span class="text-md">Itm:00183333500112893001</span></td>
    </tr>
    <tr>
        <td><span class="text-20 text-bold">Road Express</span><br/><br/></td>
        <td colspan="2" class="text-right">
            <span class="text-sm">Sort Bin:</span> <span class="text-20 text-bold">2014</span>
            <br/><br/>
        </td>
    </tr>
    <tr>
        <td colspan="3" class="text-center">
            <span class="text-sm">Does Not Contain Dangerous Goods</span>
            <br/><br/>
        </td>
    </tr>
    <tr>
        <td colspan="3">
            To<br/>
            test<br/>
            test<br/>
            test<br/>
            SYDNEY, NSW<br/>
            Ph: 34464656545
        </td>
    </tr>
    <tr>
        <td colspan="3">
            From: test, test, test, NORTH LAKES, QLD.<br/>
            Ph: 242323
        </td>
    </tr>
    </tbody>
</table>
<table>
    <tbody>
    <tr>
        <td width="50%">
            Sender Ref:<br/>
            10000001
        </td>
        <td width="50%" style="border-left: 3px solid #000;">
            Ref:<br/>
        </td>
    </tr>
    <tr>
        <td>Special Instructions</td>
        <td>Insurance: 0.00</td>
    </tr>
    </tbody>
</table>
<div style="margin: 50px auto auto auto; width: 90%">
    <table class="table-border">
        <tbody>
        <tr>
            <td width="50%">
                CN: IXX500112893<br/>
                Itm: 00183333500112893001<br/>
                1 of 1<br/>
                TO:<br/>
                test<br/>
                test<br/>
                test<br/>
                SYDNEY<br/>
                NSW 2000<br/>
                Ph: 34464656545
            </td>
            <td width="50%">
                Road Express<br/>
                Con Note Wt.: 1kg<br/>
                FROM:<br/>
                test<br/>
                test<br/>
                test<br/>
                NORTH LAKES<br/>
                Ph: 242323
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div style="width: 30%; margin: auto">
    <div><img src=""></div>
    <div class="text-center"><span>610400183333500112893001020000</span></div>
</div>
</body>
</html>