
<table>
    <td><img src="${(logo)!" "}" alt="" width="150px"></td>
    <td><span
            style="font-size: 13px; font-weight: bold; color: #3A6F98">${(lang.translate("Prepared for:"))!"Prepared for:"} ${(name?html)!" "}</span>
    </td>
</table>